#skill {
	height: auto;
	background-color: #64b5f6;
}

#skill li {
	font-size: 30px;
}

#skill #programmingLanguage{

	padding: 30px;
	display: inline-block;
	vertical-align: top;
	width: 50%;

}

#skill #otherSkill{

	background-color: #FDD835;

}