#skill {
	height: auto;
	background-color: #64b5f6;
}

#skill li {
	font-size: 20px;
}

#skill #programmingLanguage{
	padding: 10px;
	display: inline-block;
	vertical-align: top;
	width: 50%;



}

#skill #otherSkill{
	padding-top: 15px;
	padding-bottom: 40px;
	background-color: #FDD835;

}